.header__box {
  background-color: rgb(1, 81, 80);
  color: white;
  font-size: 14px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block {
  display: flex;
  align-items: center;
}

.header__block button {
  padding: 0;
  border: none;
  background-color: transparent;  
}

.header__block button :hover {
  cursor: pointer;
}

.header__icon {
  width: 15px;
  margin-right: 10px;
}

.header__logo {
  font-weight: 700;  
  position: relative;
  
}

.header__logo span {
  position: absolute;
  font-size: 18px;
  transform: translateY(-50%);
}