.grid__box {
  width: 100%;
}

.grid__table {
  border-collapse: collapse;
  margin-left: 5px;
}

.grid__table th, td {
  border: 1px solid black;
  padding: 3px 5px;
}

.grid__tr-even-true {
  background-color: lightcyan;
}

.grid__button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.grid__button + .grid__button {
  margin-left: 5px;
}

.grid__button img {
  width: 15px;
}

.grid__genderCheckbox {
  margin-right: 3px;
}