<!DOCTYPE html>
<link rel="stylesheet" href="./components/grid/grid.css">

<div class="grid__box">
  <table class="grid__table">
    <tr>
      <th></th>
      <th>No</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Gender</th>        
    </tr>
    <tr ng-repeat="user in $ctrl.data track by user.id"  class="grid__tr-even-{{$even}}">
      <td>
        <button class="grid__button" ng-click="$ctrl.onAddClick($index)"><img src="../../images/grid/add.svg" alt="add"></button>
        <button class="grid__button" ng-click="$ctrl.onEditClick($index)"><img src="../../images/grid/edit.svg" alt="edit"></button>
        <button class="grid__button" ng-click="$ctrl.onDeleteClick($index)"><img src="../../images/grid/delete.svg" alt="remove"></button>
      </td>
      <td>{{$index + 1}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.age}}</td>
      <td>
        <label>
          <input type="checkbox" ng-model="user.isMale" class="grid__genderCheckbox">
          isMale
        </label>
      </td>
    </tr>
  </table>
</div>