* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
  font-family: "CyrillicOldBold";
  src: url("assets/fonts/CyrillicOldBold.eot");
  src: url("assets/fonts/CyrillicOldBold.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/CyrillicOldBold.woff") format("woff"),
  url("assets/fonts/CyrillicOldBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: rgb(231, 234, 237);
}

h2 {
  margin-bottom: 20px;
}