.gridform {
  border: 1px solid black;
  padding: 0 5px;
  margin: 0 5px;
}

.gridform h3 {
  margin: 5px 0

}

.gridform input {
  margin-bottom: 10px;
  max-width: 150px;
}

.gridform input[type='submit'], 
.gridform input[type='button'] {
  width: 70px;
}